
name: Call Python CI/CD Pipeline

on:
  push:
    branches:
      - development  # Automatically trigger on pushes to the development branch

jobs:
  call-reusable-workflow:
    name: Reuse Python Pipeline
    uses: aeiforo-co-uk/dt-module-python-pipeline-repo/.github/workflows/python-pipeline.yml@main
    with:
      repo_name: 'aeiforo-co-uk/dt-python-app1-testing-repo'
      deploy_env: 'staging'       # Example environment
      build_artifacts: true
      python_version: '3.9'       # Example version
    secrets: inherit
    permissions:
      contents: write
